# Dependencies
node_modules/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Uploaded videos
uploads/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
podman-compose.yml
debug.json
